<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.SupplierMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.MedicineSupplier">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="contact" column="contact"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,contact,phone,address,create_time,
        update_time
    </sql>

    <!-- 分页查询供应商列表 -->
    <select id="listSupplier" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM medicineSupplier
        <where>
            <if test="request.id != null">
                AND id = #{request.id}
            </if>
            <if test="request.name != null and request.name != ''">
                AND name LIKE CONCAT('%', #{request.name}, '%')
            </if>
            <if test="request.contact != null and request.contact != ''">
                AND contact LIKE CONCAT('%', #{request.contact}, '%')
            </if>
            <if test="request.phone != null and request.phone != ''">
                AND phone LIKE CONCAT('%', #{request.phone}, '%')
            </if>
            <if test="request.address != null and request.address != ''">
                AND address LIKE CONCAT('%', #{request.address}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
