<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="roles" column="roles"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, nickname, avatar, roles, status, create_time,
        update_time, create_by, update_by, delete_time, is_delete
    </sql>

    <select id="listUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            is_delete = 0
            <if test="request.id != null">
                AND id = #{request.id}
            </if>
            <if test="request.username != null and request.username != ''">
                AND username LIKE CONCAT('%', #{request.username}, '%')
            </if>
            <if test="request.nickname != null and request.nickname != ''">
                AND nickname LIKE CONCAT('%', #{request.nickname}, '%')
            </if>
            <if test="request.avatar != null and request.avatar != ''">
                AND avatar = #{request.avatar}
            </if>
            <if test="request.roles != null and request.roles != ''">
                AND roles LIKE CONCAT('%', #{request.roles}, '%')
            </if>
            <if test="request.status != null">
                AND status = #{request.status}
            </if>
            <if test="request.createBy != null and request.createBy != ''">
                AND create_by = #{request.createBy}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>
