<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.KbDocumentMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.KbDocument">
        <id property="id" column="id"/>
        <result property="knowledgeBaseId" column="knowledge_base_id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileUrl" column="file_url"/>
        <result property="fileSize" column="file_size"/>
        <result property="mimeType" column="mime_type"/>
        <result property="status" column="status"/>
        <result property="stageDetail" column="stage_detail"/>
        <result property="lastError" column="last_error"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,knowledge_base_id,file_name,file_url,file_size,
        mime_type,status,stage_detail,last_error,create_by,
        update_by,created_at,updated_at
    </sql>

    <select id="listDocument" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM kb_document
        <where>
            knowledge_base_id = #{knowledgeBaseId}
            <if test="request.fileName != null and request.fileName != ''">
                AND file_name LIKE CONCAT('%', TRIM(#{request.fileName}), '%')
            </if>
            <if test="request.fileType != null and request.fileType != ''">
                AND (
                file_name LIKE CONCAT('%', '.', TRIM(#{request.fileType}), '%')
                OR mime_type LIKE CONCAT('%', TRIM(#{request.fileType}), '%')
                )
            </if>
        </where>
        ORDER BY created_at DESC, id DESC
    </select>
</mapper>
