<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.KbDocumentChunkMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.KbDocumentChunk">
        <id property="id" column="id"/>
        <result property="documentId" column="document_id"/>
        <result property="chunkIndex" column="chunk_index"/>
        <result property="content" column="content"/>
        <result property="vectorId" column="vector_id"/>
        <result property="charCount" column="char_count"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,document_id,chunk_index,content,vector_id,char_count,
        status,created_at,updated_at
    </sql>
</mapper>
