<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.KbDocumentChunkMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.KbDocumentChunk">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="docId" column="doc_id"/>
        <result property="chunkIndex" column="chunk_index"/>
        <result property="content" column="content"/>
        <result property="tokenCount" column="token_count"/>
        <result property="pageNum" column="page_num"/>
        <result property="vectorId" column="vector_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


    <sql id="Base_Column_List">
        c.id, c.`uuid`, c.doc_id, c.chunk_index, c.content, c.token_count, c.page_num,
        c.vector_id, c.create_time, c.update_time, c.create_by, c.update_by
    </sql>

    <select id="selectDocumentSlices" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kb_document_chunk c
        <where>
            c.doc_id = #{docId}
            <if test="name != null and name != ''">
                and c.content like concat('%',#{name},'%')
            </if>
        </where>
        order by c.create_time desc
    </select>
</mapper>
