<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.MallMedicineDetailMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.MallMedicineDetail">
        <id property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="brand" column="brand"/>
        <result property="prescription" column="prescription"/>
        <result property="efficacy" column="efficacy"/>
        <result property="usageMethod" column="usage_method"/>
        <result property="adverseReactions" column="adverse_reactions"/>
        <result property="precautions" column="precautions"/>
        <result property="taboo" column="taboo"/>
        <result property="instruction" column="instruction"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,brand,prescription,efficacy,usage_method,adverse_reactions,
        precautions,taboo,instruction,create_time,update_time,is_deleted
    </sql>
</mapper>
