<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.MedicinePriceMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.MedicinePrice">
        <id property="id" column="id"/>
        <result property="medicineId" column="medicine_id"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="memberPrice" column="member_price"/>
        <result property="promotionPrice" column="promotion_price"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,medicine_id,retail_price,member_price,promotion_price,start_time,
        end_time,create_time,update_time
    </sql>
</mapper>
