<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.admin.mapper.NotifyMessageMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.NotifyMessage">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="senderType" column="sender_type"/>
        <result property="senderId" column="sender_id"/>
        <result property="senderName" column="sender_name"/>
        <result property="receiverType" column="receiver_type"/>
        <result property="type" column="type"/>
        <result property="publishTime" column="publish_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,sender_type,sender_id,sender_name,receiver_type,type,publish_time,is_deleted,
        create_time
    </sql>

    <select id="selectNotifyMessagePage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM notify_message
        WHERE is_deleted = 0
        <if test="request.title != null and request.title != ''">
            AND title LIKE CONCAT('%', #{request.title}, '%')
        </if>
        <if test="request.type != null and request.type != ''">
            AND type = #{request.type}
        </if>
        <if test="request.receiverType != null and request.receiverType != ''">
            AND receiver_type = #{request.receiverType}
        </if>
        <if test="request.senderType != null and request.senderType != ''">
            AND sender_type = #{request.senderType}
        </if>
        ORDER BY publish_time DESC, id DESC
    </select>
</mapper>
