<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.agent.mapper.MallMedicineDetailMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.DrugDetail">
        <id property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="commonName" column="common_name"/>
        <result property="composition" column="composition"/>
        <result property="characteristics" column="characteristics"/>
        <result property="packaging" column="packaging"/>
        <result property="validityPeriod" column="validity_period"/>
        <result property="storageConditions" column="storage_conditions"/>
        <result property="productionUnit" column="production_unit"/>
        <result property="approvalNumber" column="approval_number"/>
        <result property="executiveStandard" column="executive_standard"/>
        <result property="originType" column="origin_type"/>
        <result property="isOutpatientMedicine" column="is_outpatient_medicine"/>
        <result property="warmTips" column="warm_tips"/>
        <result property="brand" column="brand"/>
        <result property="prescription" column="prescription"/>
        <result property="efficacy" column="efficacy"/>
        <result property="usageMethod" column="usage_method"/>
        <result property="adverseReactions" column="adverse_reactions"/>
        <result property="precautions" column="precautions"/>
        <result property="taboo" column="taboo"/>
        <result property="instruction" column="instruction"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        product_id,
        common_name,
        composition,
        characteristics,
        packaging,
        validity_period,
        storage_conditions,
        production_unit,
        approval_number,
        executive_standard,
        origin_type,
        is_outpatient_medicine,
        warm_tips,
        brand,
        prescription,
        efficacy,
        usage_method,
        adverse_reactions,
        precautions,
        taboo,
        instruction,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>
