<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.client.mapper.MallProductMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.MallProduct">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="unit" column="unit"/>
        <result property="price" column="price"/>
        <result property="salesVolume" column="sales_volume"/>
        <result property="stock" column="stock"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="deliveryType" column="delivery_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <resultMap id="ProductWithImagesResultMap" type="cn.zhangchuangla.medicine.model.entity.MallProductWithImageDto"
               extends="BaseResultMap">
        <association property="medicineDetail" javaType="cn.zhangchuangla.medicine.model.dto.MedicineDetailDto">
            <result property="brand" column="med_brand"/>
            <result property="prescription" column="med_prescription"/>
            <result property="efficacy" column="med_efficacy"/>
            <result property="usageMethod" column="med_usage_method"/>
            <result property="adverseReactions" column="med_adverse_reactions"/>
            <result property="precautions" column="med_precautions"/>
            <result property="taboo" column="med_taboo"/>
        </association>
        <collection property="productImages" ofType="cn.zhangchuangla.medicine.model.entity.MallProductImage">
            <id property="id" column="img_id"/>
            <result property="productId" column="img_product_id"/>
            <result property="imageUrl" column="image_url"/>
            <result property="sort" column="img_sort"/>
            <result property="createTime" column="img_create_time"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,category_id,unit,price,
        sales_volume,stock,sort,status,delivery_type,
        shipping_id,create_time,
        update_time,create_by,update_by
    </sql>
    <update id="updateStockWithVersion">
        update mall_product
        set stock   = stock - #{quantity},
            version = version + 1
        where id = #{productId}
          and stock >= #{quantity}
          and version = #{version}
    </update>

    <select id="getProductWithImagesById" resultMap="ProductWithImagesResultMap">
        SELECT p.id,
               p.name,
               p.category_id,
               p.unit,
               p.price,
               p.sales_volume,
               p.stock,
               p.sort,
               p.status,
               p.delivery_type,
               p.shipping_id,
               p.create_time,
               p.update_time,
               p.create_by,
               p.update_by,
               img.id          as img_id,
               img.product_id  as img_product_id,
               img.image_url,
               img.sort        as img_sort,
               img.create_time as img_create_time,
               md.brand AS med_brand,
               md.prescription AS med_prescription,
               md.efficacy AS med_efficacy,
               md.usage_method AS med_usage_method,
               md.adverse_reactions AS med_adverse_reactions,
               md.precautions AS med_precautions,
               md.taboo AS med_taboo
        FROM mall_product p
                 LEFT JOIN mall_product_image img ON p.id = img.product_id
                 LEFT JOIN mall_medicine_detail md ON p.id = md.product_id
        WHERE p.id = #{productId}
        ORDER BY img.sort, img.create_time
    </select>
</mapper>
