<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.medicine.mapper.MallProductDetailMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.medicine.model.entity.MallProductDetail">
        <id property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,content,create_time,update_time
    </sql>
</mapper>
